*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* top bar */
.top-bar{
    display: flex;
    justify-content: space-between;
}

.top-bar p{
    margin-top: 13px;
    margin-left: 15px;
}
.top-bar .icons-login{
    margin-top: 13px;
    margin-right: 15px;
}

.top-bar a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.top-bar a img{
    margin-bottom: 3px;
}

.top-bar a:hover{
    color: black;
}

@media screen and (max-width:400px){
    .top-bar a{
        font-size: 13px;
    }
    .top-bar a img{
        width: 20px;
    }
    .top-bar p{
        font-size: 13px;
    }
}

@media screen and (max-width:320px){
    .top-bar a{
        font-size: 10px;
    }
    .top-bar a img{
        width: 14px;
    }
    .top-bar p{
        font-size: 10px;
    }
}

@media screen and (max-width:310px){
    .top-bar a{
        font-size: 8px;
    }
    .top-bar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-bar p{
        font-size: 10px;
        margin-top: 20px;
    }
}

/* NAVBAR */
#navbar{
 background-color: rgb(67 0 86);   
}

#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}

#logo span{
    color: #ffc800;
}

#logo #span1{
    font-size: 30px;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item{
    margin-left: 10px;
}

.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black ;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    color: #ffc800;
}
.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}
.dropdown-menu li a:hover{
    background-color: rgb(67 0 86);
    color: #ffc800;
}

#search input{
    border-radius:50px ;
    border: none;
}
#search button{
    border-radius:50px ;
    color: white;
    border: 1px solid #ffc800;
    background-color: #ffc800;
}

/* home */
/* .home{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}

.home .img img{
    flex: 1 1 300px;
   
}

.home .img img{
    width: 50%;
} */
/* .home .img img{
    margin-top: 20px;
} 
/* .home .containe{
    flex: 1 1 400px;
    margin-top: 20px;
} */
.containe h1{
   color: rgb(67 0 86); 
   font-weight: bold;
   margin-left: 23px;
   font-size: 50px;
   text-shadow: 1px 1px 1px black;
}

.containe h1 span{
    color: rgb(67 0 86);
    text-shadow: 1px 1px 1px black;
}
.containe p{
    margin-left: 23px;
}

#span2{
    color: #ffc800;
}
.btn button{
    width: 150px;
    height: 52px;
    margin-top: 20px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor:pointer;
}

.btn button:hover{
    background-color: #ffc800;
    color: black;
    border: none;
} 


/* produits */

#produits-cards{
    margin-top: 100px;
}

#produits-cards h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
}

#produits-cards .card h3{
    font-size: 23px;
    color: black;
}
#produits-cards .card p{
    font-size: 15px;
    color: black;
    margin-top: 5px;
}
.start i{
    margin-left: 5px;
    font-size: 13px;
}
.checked{
    color: #ffc800;
}
#produits-cards .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#produits-cards .card h2 span{
    float:right;
    color: black;
    cursor:pointer
}


@media screen and (max-width:100px) {
    #produits-cards .card h2 span{
        font-size: 18px;
    }
}

/* beneen card*/

#cards2{
    margin-top: 30px;
}

#cards2{
    background-color: #a9a9a92b;
}

#cards2 .card h3{
    margin-top: 30px;
    font-size: 23px;
    color: black;
    /* margin-left: 10px; */
    letter-spacing: 3px;
}

#cards2 .card h5{
    margin-top: 15px;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 3px;
    border-bottom: 2px solid black ;
    width: 190px;
    text-align: center;
}

#cards2 .card p span{
    color: #ffc800;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

#cards2 .card p{
    margin-top: 10;
    font-weight:bold;
    font-size: 16px;
}

#achetez{
    width: 130px;
    height: 30px;
    margin-top: 10px;
    /* margin-left: 10px; */
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#achetez2{
    width: 130px;
    height: 30px;
    margin-top: 10px;
    /* margin-left: 10px; */
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:600px){
    /* #cards2 .card .card-image{
     /* position: relative;*/
    /* } */ */

    #achetez2{
     position: relative;
     left: 2%;
     margin-top:1%;    
    }
}

/*  */

/* card-2 */
/* .card-22{
    width: 200px;
} */

/* newslater */

#newslater{
    margin-top: 100px;
}

#newslater h3{
   font-size: 25px;
   letter-spacing: 3px; 
}

.input{
    margin-top: 30px;
}

.input input{
    width:300px;
    height: 30px;
    letter-spacing:2px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left:5px;
}


#subscribe{
    width: 150px;
    height: 30px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #ffc800;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
    text-align: center;
}

/* footer */
#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(67 0 86);
    /* margin-top: 100px; */
}

#footer .footer-b{
    padding: 60px 0 30px 0;
    background-color: rgb(67 0 86);
    color: white;
}

#footer .footer-b .footer-{
    margin-bottom: 30px;
}

#footer .footer-b .footer- h5{
    color: #ffc800;
}


#footer .footer-b ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

#footer .footer-b .footer- ul{
    list-style: none;
    padding: 0;
    margin: 0;

}


#footer .footer-b .footer- ul li{
    padding: 2px 0;
    display: flex;
    align-items: center;
}

#footer .footer-b .footer- ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: 400;
}

#footer .footer-b .icons-social a{
    font-size: 16px;
    
    display: inline-block;
    text-decoration:none;
    color: white;
}
#footer .copyright{
    text-align: center;
    float: left;
}

#footer .man{
   float: right;
   text-align: center;
   font-size: 13px;  
}

/* page login */

#login{
    width: 65%;
    height: 70vh;
    background-color:rgb(67 0 86);
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0;
}
#side1 h3{
    color: #ffc800;
    font-weight: bold;
    margin-top: 100px;
}

#side2{
    background-color: white;
    height: 70vh;
    border-radius: 10px;
}
#side2 h3{
    margin-top: 0px;
    color: #ffc800;
    font-weight:bold;
    text-shadow: 0px 1px black;
}
.input2 input{
    margin-top: 10px;
    width: 80%;
    border: none;
    border-bottom: 2px solid #ffc800;
}

.input2 input ::placeholder{
    font-weight: bold;
}

#btnlogin{
   padding-top:20px; 
   margin: 10px;
}

#btnlogin a{
    padding: 5px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffc800;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
}

/* about */

#about{
   margin-top: 30px;

}

#about h3{
    font-weight: bold;
    color: #ffc800;
    text-shadow: 0px 1px 1px black;
}

#about button{
    width: 150px;
    height: 36px;
    color: white;
    background-color: rgb(67 0 86);
    border-radius: 5px;
    cursor: pointer;
}
/* fin about */

/* contacts */
#contacts .card{
    height: 80px;
    margin-top:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#contacts .card i {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
}

#contacts .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(67 0 86);
}

.messagebtn button{
    margin-top: 30px;
    width:200px;
    height: 33px;
    background:transparent;
    border: 2px solid rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
    cursor:pointer;
    transition: 0.5s ease;
}

.messagebtn button:hover{
    background-color: rgb(67 0 86);
    color: white;
}

/*  */

/* Temoignages */

#Temoignages{
    margin-top:50px;
}

.clients-img img{
    width: 250px;
    border-radius: 50%;
    height: 100px;
}
/* .clients{
    display: flex;
    justify-content: space-around;
} */
.clients p{
    font-size: 12px;
    font-weight:600;
}

.clients h3{
    font-size: 18px;
}
/*  */

@media screen and (max-width:700px) {
    /* *{
        margin: 0;
        padding: 0;
    } */
        .navbar{
        width: 100vw;
        margin:0;
        padding: 0;
    }

    .home{
        margin: 00;
        padding: 0;
        width: 100vw;
    }
    #produits-cards{
        margin: 00;
        padding: 0;
        width: 100vw;
    }
}